{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron p-1 p-md-5 text-white rounded bg-dark">
    <div class="col-md-12 px-0">
        <img class="" src="{{ asset('build/images/logo.png') }} " alt="" width="300" style="float:left">
        <h1 class="display-4 font-italic">PhoCon <br/>
            <small>Ouvrez l'oeil ...</small>
        </h1>
        <p class="lead my-3">PhoCon c'est avant tout des concours photos soit avec un jury pré-défini, soit par un
            vote du public et le tout en Français.
            <br/> Mais ... ! c'est également un application que vous pouvez obtenir pour lancer des concours de
            votre coté</p>
        <p class="lead mb-0"><a href="http://mouhaha-editions.fr/PhoCon" class="text-white font-weight-bold">Récupérer
                PhoCon ...</a></p>
        <div class="clearfix"></div>
    </div>
</div>

{% endblock %}